<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Book</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.ico"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/slicknav.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/gijgo.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/animated-headline.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/slick.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/modal.css" />
    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="/vendor/datepicker_signup/daterangepicker.css"
      rel="stylesheet"
      media="all"
    />

    <link
      href="/vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="/vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="/assets/css/main_signup.css" rel="stylesheet" media="all" />
  </head>

  <body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="assets/img/logo/loder.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      <div class="header-area">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo" style="font-size: 20px;">
                    <marquee scrollamount="2">Welcome <%=props %>
                    </marquee>
                    <!-- <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> -->
                </div>
            </div>
              <div class="col-xl-10 col-lg-10 col-md-10">
                <div
                  class="menu-main d-flex align-items-center justify-content-end"
                >
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <!-- <li><a href="services.html">Services</a></li> -->
                        <li>
                          <a href="/blog">Blog</a>
                          <ul class="submenu">
                            <li><a href="/blog">Blog</a></li>
                            <li>
                              <a href="blog_details.html">Blog Details</a>
                            </li>
                            <li><a href="elements.html">Element</a></li>
                          </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/login">Login/Logout</a></li>
                      </ul>
                    </nav>
                  </div>
                  <!-- <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                    <a href="#" class="btn header-btn">Book Lab Tests</a>
                                </div> -->
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!--? Slider Area Start-->
      <div class="slider-area slider-area2">
        <div class="slider-active dot-style">
          <!-- Slider Single -->
          <div class="single-slider d-flex align-items-center slider-height2">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                  <div class="hero-wrapper">
                    <div class="hero__caption">
                      <h1 data-animation="fadeInUp" data-delay=".3s">
                        Specializations
                      </h1>
                      <p data-animation="fadeInUp" data-delay=".6s">
                        Because every part of our body<br />
                        needs to be taken care wisely
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider Area End -->

      <!-- Search Bar Start -->
      <form action="\book-lab" method="POST">
        <div>
          <h3
            class="mb-30"
            style="margin-left: 50px; transform: translate(0px, 100px)"
          >
            Search Lab Tests:
          </h3>
          <input
            style="
              transform: translate(265px, 35px);
              border: 1px solid;
              border-color: #5aac4e;
              width: 750px;
              font-size: 15px;
            "
            type="text"
            name="searchbar"
            list="search"
            value = "<%= test %>"
            placeholder="eg: CBC, Thyroid test..."
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'eg: CBC, Thyroid test...'"
            required
            class="single-input-secondary"
          />
          <datalist id="search">
            <% for(let i=0;i< lab_tests.length; i++){ %>
              <option><%= lab_tests[i].test_name %></option>
            <% }%>
          </datalist>
        </div>

        <div style="width: 40%">
          <h3
            class="mb-30"
            style="margin-left: 50px; transform: translate(100px, 76px)"
          >
            Address:
          </h3>
          <input
            style="
              transform: translate(265px, 10px);
              border: 1px solid;
              border-color: #5aac4e;
              width: 750px;
              font-size: 15px;
            "
            type="text"
            name="address"
            value = "<%= addr %>"
            placeholder="Enter Your Address"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Enter Your Address'"
            required
            class="single-input-secondary"
          />
        </div>

        <div style="width: 40%">
          <h3
            class="mb-30"
            style="margin-left: 140px; transform: translate(50px, 67px)"
          >
            City:
          </h3>
          <input
            style="
              transform: translate(265px, 10px);
              border: 1px solid;
              border-color: #5aac4e;
              width: 200px;
              font-size: 15px;
            "
            type="text"
            name="city"
            id="city"
            value = "<%= city %>"
            placeholder="Enter Your City"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Enter Your City'"
            required
            class="single-input-secondary"
          />
        </div>

        <div style="width: 90%">
          <h3
            class="mb-30"
            style="margin-left: 140px; transform: translate(50px, 67px)"
          >
            Date:
          </h3>

          <div class="col-2" style="margin-left: 250px">
            <div class="input-group">
              <div class="input-group-icon">
                <input
                  class="input--style-4 js-datepicker"
                  type="text"
                  name="date"
                  value = "<%= date %>"
                  required
                />
                <i
                  class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                ></i>
              </div>
            </div>
          </div>
        </div>


        

        <button
          type="submit"
          id="myBtn"
          class="genric-btn info circle"
          style="font-size: 20px; transform: translate(1020px, -5px)"
         >
          Search Labs</button>


      </form>

      
      <button
      id="sbmt"
      class="genric-btn info circle"
      style="font-size: 20px; transform: translate(700px, -48px)"
      onclick="modalOpen(this.form)">
      Book Appointment</button>



      <!-- Lab tests Modal -->
      <div id="myModal" class="modal" style="z-index: 99">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h3 style="padding-top: 3px; color: white">Availaible Labs</h3>
            <span class="close">&times;</span>
          </div>

          <div class="modal-body">
            <!-- Cards Starting Here -->
            <div class="users-list">
              <ul>
                <% if(labs.length > 0) { %>
                  <% for(let i=0;i<labs.length;i++) { %>
                <li class="user-item"  
                style="
                margin-bottom: 20px;
                block-size: fit-content;
                ">
                  <div class="user-item__content">
                    <form class="lab-form" action="/bookAppointment" method="POST">
                        <a data-id="<%= labs[i]._id%>">
                          <div class="user-item__info">
                            <h2 style="font-size:2.4rem;"> <%= labs[i].labname%> </h2>
                            <h3 style="width: 60%; font-size: 1.3rem;"> <strong>Location:</strong> <%= labs[i].addr%></h3>
                          </div>
                          <input type="hidden" value="<%= labs[i]._id%>" name="labId" id="labId">
                          <input type="hidden" value="<%= test%>" name="testId" id="testId">
                          <button
                            id="bookBtn"
                            type="submit"
                            class="genric-btn danger circle"
                            style="
                              font-size: 15px;
                              right:-10px; ">Book Now
                              </button>
                        </a>
                      </form>
                    <% } %>
                  <% } %>
                    
                  </div>
                </li>
              </ul>
            </div>
            <!--Cards ends-->
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>

      <script>
        function modalOpen(form) {

          if (true) {
            // Get the modal and display
            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            // Get the booking button
            var btn = document.getElementById("bookBtn");
            btn.onclick = function () {
              modal.style.display = "none";
              alert("Appointment Created Succesfully");
              //window.close();
              //window.location.replace("/slot-avail"); //book now redirect

            };

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
              modal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            };
          }
        }
      </script>
      <!-- Search Bar End -->
      <section class="wantToWork-area">
        <div class="container">
          <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
              <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption wantToWork-caption2">
                  <h2>Select<br />Speciality</h2>
                  <p>Where care comes first</p>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4">
                <!-- <a href="#" class="btn f-right sm-left">Take a Service</a> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--? Services Area Start -->
      <div class="service-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services1.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Pediatrician</a></h5>
                  <p>
                    Paediatricians manage medical conditions affecting infants,
                    children and young people.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services2.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Physician</a></h5>
                  <p>
                    Physicians diagnose and treat injuries or illnesses and
                    address health maintenance.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Gynaecologist</a></h5>
                  <p>
                    Gynaecologist able to diagnose and treat female reproductive
                    tract issues. and set out a treatment.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services2.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Orthopedecian</a></h5>
                  <p>
                    Orthopedecian specializes in diagnosing and treating all
                    conditions related to the skeletomuscular system.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Diabetologist</a></h5>
                  <p>
                    Diabetologist is a doctor who specialises in the treatment
                    of diabetes.Diabetologist is a doctor
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Dermatologist</a></h5>
                  <p>
                    dermatologist is a doctor who specializes in conditions
                    involving the skin, hair, and nails.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Psychatrist</a></h5>
                  <p>
                    Psychatrist evaluate people for mental disorders, offer a
                    diagnosis, and set out a treatment.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Dietician</a></h5>
                  <p>
                    Dietician counsel clients on nutrition issues and healthy
                    eating habits. and set out a treatment.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                  <img src="assets/img/icon/services3.svg" alt="" />
                </div>
                <div class="cat-cap">
                  <h5><a href="#">Dentist</a></h5>
                  <p>
                    Dentists remove tooth decay, fill cavities, and repair
                    fractured teeth and set out a treatment.
                  </p>
                  <a href="#" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Area End -->
      <!--? video_start -->
      <div class="container pt-40">
        <div
          class="video-area section-bg2 d-flex align-items-center"
          data-background="assets/img/gallery/video-bg.png"
        >
          <div class="video-wrap position-relative">
            <div class="video-icon">
              <a
                class="popup-video btn-icon"
                href="https://www.youtube.com/watch?v=up68UAfH0d0"
                ><i class="fas fa-play"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- video_end -->
      <!--? Testimonial Area Start -->
      <section class="testimonial-area testimonial-padding fix pb-bottom">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-9">
              <div class="about-caption">
                <!-- Testimonial Start -->
                <div class="h1-testimonial-active dot-style">
                  <!-- Single Testimonial -->
                  <div class="single-testimonial position-relative">
                    <div class="testimonial-caption">
                      <img
                        src="assets/img/icon/quotes-sign.png"
                        alt=""
                        class="quotes-sign"
                      />
                      <p>
                        Quality work, Impress with the management of firm as
                        well as turn around time of the reports
                      </p>
                    </div>
                    <!-- founder -->
                    <div class="testimonial-founder d-flex align-items-center">
                      <div class="founder-img">
                        <img src="assets/img/icon/testimonial.png" alt="" />
                      </div>
                      <div class="founder-text">
                        <span>Aryan Rajbhar</span>
                        <p>Creative designer at Colorlib</p>
                      </div>
                    </div>
                  </div>
                  <!-- Single Testimonial -->
                  <div class="single-testimonial position-relative">
                    <div class="testimonial-caption">
                      <img
                        src="assets/img/icon/quotes-sign.png"
                        alt=""
                        class="quotes-sign"
                      />
                      <p>
                        Appreciate the quality of service that I’ve received
                        from Ashturkar Pathology Lab. Their competence,
                        sincerity, valuing customer’s time – all these together
                        have shaped them as the Best Pathology Labs in Wakad
                      </p>
                    </div>
                    <!-- founder -->
                    <div class="testimonial-founder d-flex align-items-center">
                      <div class="founder-img">
                        <img src="assets/img/icon/testimonial.png" alt="" />
                      </div>
                      <div class="founder-text">
                        <span>Nidhi Vishwakarma</span>
                        <p>Student Co-ordinator at SLRTCE</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial End -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--? Testimonial Area End -->

      <!--? About Law Start-->
      <section class="about-low-area mt-80">
        <div class="container">
          <div class="about-cap-wrapper">
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-md-10 offset-xl-1">
                <div class="about-caption mb-50">
                  <!-- Section Tittle -->
                  <div class="section-tittle mb-35">
                    <h2>100% satisfaction guaranteed.</h2>
                  </div>
                  <p>Almost before we knew it, we had left the ground</p>
                  <a href="/about" class="border-btn">Book Lab Tests</a>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img">
                  <div class="about-font-img">
                    <img src="assets/img/gallery/about2.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Law End-->
    </main>
    <footer>
      <div
        class="footer-wrappr section-bg3"
        data-background="assets/img/gallery/footer-bg.png"
      >
        <div class="footer-area footer-padding">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo mb-25">
                    <a href="/"
                      ><img src="assets/img/logo/logo2_footer.png" alt=""
                    /></a>
                  </div>
                  <d iv class="header-area">
                    <div class="main-header main-header2">
                      <div
                        class="menu-main d-flex align-items-center justify-content-start"
                      >
                        <!-- Main-menu -->
                        <div class="main-menu main-menu2">
                          <nav>
                            <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="about.html">About</a></li>
                              <!-- <li><a href="services.html">Services</a></li> -->
                              <li><a href="blog.html">Blog</a></li>
                              <li><a href="contact.html">Contact</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </d>
                  <!-- social -->
                  <div class="footer-social mt-50">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-footer-caption">
                  <div class="footer-tittle mb-50">
                    <h4>Let's Get In Touch!</h4>
                  </div>
                  <!-- Form -->
                  <div class="footer-form">
                    <div id="mc_embed_signup">
                      <form
                        target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get"
                        class="subscribe_form relative mail_part"
                        novalidate="true"
                      >
                        <input
                          type="email"
                          name="EMAIL"
                          id="newsletter-form-email"
                          placeholder=" Email Address "
                          class="placeholder hide-on-focus"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Enter your email'"
                        />
                        <div class="form-icon">
                          <button
                            type="submit"
                            name="submit"
                            id="newsletter-submit"
                            class="email_icon newsletter-submit button-contactForm"
                          >
                            Connect!!
                          </button>
                        </div>
                        <div class="mt-10 info"></div>
                      </form>
                    </div>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">
                      <p>
                        Praesent porttitor, nulla vitae posuere iaculis, arcu
                        nisl dignissim dolor, a pretium misem ut ipsum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
          <div class="container">
            <div class="footer-border">
              <div class="row">
                <div class="col-xl-10">
                  <div class="footer-copy-right">
                    <p>
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <!-- Jquery JS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker_signup/moment.min.js"></script>
    <script src="/vendor/datepicker_signup/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/js/global.js"></script>
  </body>
</html>
